<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zija.system.internal.persistence.SystemInstallationMapper">
    <select id="selectDatabaseTime" resultType="java.time.OffsetDateTime">
        SELECT CURRENT_TIMESTAMP
    </select>
</mapper>
