<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zija.household.internal.persistence.HouseholdMapper">

    <insert id="insertSingleton" parameterType="com.zija.household.internal.persistence.HouseholdEntity">
        INSERT INTO household (singleton_key, id, name, timezone, created_at, updated_at, version)
        VALUES (1, #{id, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}, #{name}, #{timezone}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 0)
    </insert>
</mapper>
