<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zija.household.internal.persistence.OwnerRecoveryTokenMapper">

    <select id="selectByDigest" resultType="com.zija.household.internal.persistence.OwnerRecoveryTokenEntity">
        SELECT id, household_id, account_id, token_digest, expires_at, consumed_at, created_at
        FROM owner_recovery_token WHERE token_digest = #{tokenDigest}
    </select>

    <select id="selectByDigestForUpdate" resultType="com.zija.household.internal.persistence.OwnerRecoveryTokenEntity">
        SELECT id, household_id, account_id, token_digest, expires_at, consumed_at, created_at
        FROM owner_recovery_token WHERE token_digest = #{tokenDigest} FOR UPDATE
    </select>

    <update id="markConsumed">
        UPDATE owner_recovery_token SET consumed_at = CURRENT_TIMESTAMP
        WHERE id = #{id, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
    </update>

    <update id="invalidatePending">
        UPDATE owner_recovery_token SET consumed_at = CURRENT_TIMESTAMP
        WHERE account_id = #{accountId, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
          AND consumed_at IS NULL
    </update>
</mapper>
