<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zija.file.internal.persistence.StoredFileMapper">

    <update id="incrementReferenceCount">
        UPDATE stored_file
        SET reference_count = reference_count + 1
        WHERE id = #{id, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
          AND household_id = #{householdId, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
    </update>

    <update id="decrementReferenceCount">
        UPDATE stored_file
        SET reference_count = reference_count - 1
        WHERE id = #{id, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
          AND household_id = #{householdId, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
    </update>

    <select id="decrementReferenceCountIfPositive" resultType="com.zija.file.internal.persistence.StoredFileEntity">
        UPDATE stored_file
        SET reference_count = reference_count - 1
        WHERE id = #{id, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
          AND household_id = #{householdId, typeHandler=com.zija.system.internal.persistence.PostgresUuidTypeHandler}
          AND reference_count > 0
        RETURNING id, household_id, storage_key, original_filename, declared_media_type,
                  detected_media_type, byte_size, sha256, reference_count, created_at
    </select>

</mapper>
